*.pdf
!domain-research-feedback-stand-alone.pdf
!domain-research-recipe-stand-alone.pdf
!domain-research-semantics-stand-alone.pdf
!data-model.pdf
!user-manual-ingredients.pdf
*.log
*.aux
*.fls
*.fdb_latexmk
*.synctex.gz*
*.el
*.out
*.bbl
*.blg
*.glg
*.glo
*.gls
*.ist
*.toc
*.env
node_modules
public
server
tmp
views

