<div class="container">
  <div class="content">
    <h1>Express</h1>
    <form method="post" enctype="multipart/form-data" action="/file-upload">
      <input type="file" name="thumbnail">
      <input type="submit">
    </form>

    <form method="post" action="/file-upload">
      <input type="text" name="thumbnail">
      <input type="submit">
    </form>
    {{#if hello}}
      <p>{{hello}}</p>
    {{/if}}
    {{#if err}}
      <p>{{err}}</p>
    {{/if}}
    {{#if errors}}
      <p>{{errors}}</p>
    {{/if}}
  </div>
</div>
